article.container {
    margin-top: 100px;
}

p {
    font-size: 14px;
}

/* Corrige largura do player */
.podcast-player {
    width: 80%;
}

/* Corrige cor do link de download */
.label > a {
    color: inherit;
}

/* Corrige separação dos ícones de metainformação do artigo */
.metadata i:nth-child(n+2) {
    margin-left: 10px;
}
.metadata i {
    margin-right: 2px;
}

/* Cria conceito de figures (imagens com titulo e descrição) */
.figure {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: block;
    margin-bottom: 20px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}

.figure p.caption {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 4px;
    font-size: 90%;
    text-align: center;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.figure div.legend {
    padding: 0px 4px;
    font-size: small;
    font-style: italic;
    text-align: justify;
}

/* Cria alinhamento das imagens */
img.align-right, .figure.align-right {
    float: right;
    margin-top: 0em;
    margin-right: 0em;
    margin-left: 1em;
    margin-bottom: 1em;
}

img.align-left, .figure.align-left {
    float: left;
    margin-top: 0em;
    margin-right: 1em;
    margin-left: 0em;
    margin-bottom: 1em;
}

img.align-center, .figure.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.7em;
    margin-bottom: 1.5em;
}

tt.docutils.literal {
    background-color: #f9f2f4;
    border-radius: 4px;
    color: #c7254e;
    font-size: 90%;
    padding: 2px 4px;
    white-space: nowrap;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

dd {
    margin-left: 20px;
}
