article {
    width: 100% !important;
    padding: 0px 0px 0px 0px !important;
}
h1 {
    padding-top: 50px;
}

/* Corrige largura do player */
.podcast-player {
    width: 80%;
}

/* Corrige cor do link de download */
.label > a {
    color: inherit;
}

/* Corrige separação dos ícones de metainformação do artigo */
.metadata i:nth-child(n+2) {
    margin-left: 10px;
}
.metadata i {
    margin-right: 2px;
}

/* Cria conceito de figures (imagens com titulo e descrição) */
.figure {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: block;
    margin-bottom: 20px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}

.figure p.caption {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 4px;
    font-size: 90%;
    text-align: center;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.figure div.legend {
    padding: 0px 4px;
    font-size: small;
    font-style: italic;
    text-align: justify;
}

/* Cria alinhamento das imagens */
img.align-right, .figure.align-right {
    float: right;
    margin-top: 0em;
    margin-right: 0em;
    margin-left: 1em;
    margin-bottom: 1em;
}

img.align-left, .figure.align-left {
    float: left;
    margin-top: 0em;
    margin-right: 1em;
    margin-left: 0em;
    margin-bottom: 1em;
}

img.align-center, .figure.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.7em;
    margin-bottom: 1.5em;
}

tt.docutils.literal {
    background-color: #f9f2f4;
    border-radius: 4px;
    color: #c7254e;
    font-size: 90%;
    padding: 2px 4px;
    white-space: nowrap;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

dd {
    margin-left: 20px;
}

section.cover-image-box{
    background-image: url("/theme/img/dark-static.jpg");
    background-size: 100% auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.img-responsive-center{
    margin: 0 auto;
}
.cover-image-container{
    max-width: 700px;
}
.cover-image-container .podcast-player{
    width: 100%;
}

.podcast-download{
    margin-top: 10px;
}
.article-title{
    padding-left: 0px;
    padding-right 0px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.header-meta {
    padding-bottom: 10px;
    color: #999;
}
.dp-small {
     width: 80px;
     height: 80px;
     border: 8px solid #f8f8f8;
}
.article-tags a
{
    color: #fff;
}
.article-tags .list-group-item{
    border: none;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 5px !important;
    background-color: rgba(0, 0, 0, 0);
}
.article-tags .list-group{
    margin-bottom: 0px !important;
}
.article-meta .fa{
    padding-right: 5px;
    width: 20px;
}
.article-content {
    padding-top: 15px;
}
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6{
    text-transform: unset !important;
    margin-top: 22px;
    margin-bottom: 11px;

    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    line-height: 1.1;
}

article p, article li, article dt, article dd{
    color: #333333;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
    line-height: 1.42857;
    text-align: justify;
}

blockquote {
    margin-left: 20px;
}
blockquote p{
    margin-bottom: 0px;
    font-size: 20px;
}
blockquote p.attribution{
    font-size: 18px;
    color: #999;
}
#article-page{
	background-color: #fff;
}

.container.comments {
    padding-bottom: 50px;
}
