article.container {
    margin-top: 100px;
}

p {
    font-size: 14px;
}

/* Corrige largura do player */
.podcast-player {
    width: 80%;
}

/* Corrige cor do link de download */
.label > a {
    color: inherit;
}
