body {
	background-color: #eaebed;
}

#content {
    padding-top: 80px;
    padding-bottom: 60px;
}

header {
    background-color: #fff;
    color: #333;
}

.article {
    text-align: left;
    overflow: visible;
    padding-bottom: 10px;
}

.entry-media img{
    width: 100%;
    margin: 0 auto 0px;
}

.container.entry-content{
    max-width: 700px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.entry-tags a
{
    color: #fff;
}
.entry-tags .list-group-item{
    border: none;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 5px !important;
}
.entry-meta .fa{
    padding-right: 5px;
    width: 20px;
}
.entry-more {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 15px 10px;
}

.header-title {
    padding-bottom: 10px;
}
.header-title h2 {
    margin-bottom: 5px;
}
.header-meta{
    color: #999;
    text-transform: uppercase;
}

#index-title {
    background: none repeat scroll 0 0 #428bca;
    margin-top: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
    z-index: 9;
}
#index-title > h1 > a, #index-title > h1{
    color: #fff;
}

#index-title > i.fa {
    background-color: #428bca;
    box-shadow: 0 0 0 6px #eaebed;
    color: #fff;
    margin-left: -45px;
    margin-top: 10px;
    padding: 15px;
    position: absolute;
    z-index: 9;
}

.post-text {
	background-color: #fff;
	padding: 10px;
}

.index-no-pagination{
	width: 100%;
}
.index-no-pagination::after{
	background-color: #eaebed;
	height: 50px;
	width: 100%;
}

.index-no-pagination .article {
	padding-bottom: 0px !important;
}
.index-no-pagination .article-even {
	margin-top: 0px !important;
}

.exit {
	border-radius: 20px;
	margin-left: 5px;
	padding: 10px 10px 10px 15px;
	border: 4px solid #eaebed;
}

.article-label {
	position: absolute;
	top: 2px;
}
.article-label-odd {
	padding-right: 10px;
	right: -1px;
}

.article-label-even {
	left: -2px;
	padding-left: 15px;
}

.article-label a {
	color: #fff;
}

span.return {
	color: #94c3ea;
}

@media (min-width: 992px){
	.header-meta-time {
		display: none;
	}
	#content:before {
		background: none repeat scroll 0 0 #428bca;
		bottom: 0;
		content: "";
		height: 100%;
		left: 50.4%;
		margin-left: -1px;
		margin-top: -10px;
		position: fixed;
		top: 10px;
		width: 3px;
		z-index: -1;
	}

	.article:before {
		background: none repeat scroll 0 0 #428bca;
		border: 4px solid #eaebed;
		border-radius: 10px;
		content: "";
		display: block;
		position: relative;
		height: 18px;
		width: 18px;
		z-index: 9;
	}

	.article-odd:before{
		margin-left: auto;
		left: 30px;
	}

	.article-even:before{
		right: 28px;
	}
	.article-even{
		margin-top: 100px;
		margin-left: 10px;
	}
}
