#content {
    padding-top: 60px;
    padding-bottom: 60px;
}

header {
    background-color: #fff;
    color: #333;
}

article {
    text-align: left;
    overflow: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.entry-media img{
    width: 100%;
    margin: 0 auto 0px;
}

.container.entry-content{
    max-width: 700px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.entry-tags a
{
    color: #fff;
}
.entry-tags .list-group-item{
    border: none;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 5px !important;
}
.entry-meta .fa{
    padding-right: 5px;
    width: 20px;
}
.entry-more {
    margin-bottom: 10px;
}

.header-title {
    padding-bottom: 10px;
}
.header-title h2 {
    margin-bottom: 5px;
}
.header-meta{
    color: #999;
    text-transform: uppercase;
}
