<div class="container index-no-pagination">
    <div class="row">
    {% if articles_page and articles_paginator.num_pages > 1 %}
        <div class="col-md-5 col-md-offset-1 article article-odd">
            {% if articles_page.has_previous() %}
            <span class="label label-primary article-label article-label-odd">
                <tt>
                    <a href="{{ SITEURL }}/{{ articles_previous_page.url }}"><span class="return">return</span> __get_mais_recentes({{ article_page }});</a>
                </tt>
            </span>
            {% else %}
            <span class="label label-primary article-label article-label-odd">
                <tt>return NULL;</tt>
            </span>
            {% endif %}
        </div>
        <div class="col-md-5 article article-even">
            {% if articles_page.has_next() %}
            <span class="label label-primary article-label article-label-even">
                <tt>
                    <a href="{{ SITEURL }}/{{ articles_next_page.url }}"><span class="return">return</span> __get_mais_antigas({{ article_page }});</a>
                </tt>
            </span>
            {% else %}
            <span class="label label-primary article-label article-label-even"><tt><span class="return">return</span> NULL;</tt></span>
            {% endif %}
        </div>
    {% else %}
        <div class="col-md-5 col-md-offset-1 article article-odd">
        </div>
        <div class="col-md-5 article article-even">
            <span class="label label-primary article-label article-label-even"><tt><span class="return">return</span> NULL;</tt></span>
        </div>
    {% endif %}
    </div>
</div>
