{% extends "base.html" %}

{% block title %}Changelog | {{ SITENAME }}{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="{{ SITEURL }}/theme/css/archives.css" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block content %}
<section class="container text-center" id="archives-title">
        <h1 class="text-center">Changelog</h1>
        <i class="fa fa-archive fa-5x img-circle"></i>
</section>

<section id="archives-index" class="container">
    <section class="timeline-wrapper" id="yier-end">
        <h2>Hoje</h2>
    </section>
    {% for year, year_articles in articles|groupby('date.year')|sort(reverse=True) %}
    <section class="timeline-wrapper" id="year{{ year }}">
            <ul class="timeline">
                {% for month, articles in year_articles|groupby('date.month')|sort(reverse=True) %}
                <li>
                    <h3>{{ articles[0].date.strftime("%B") }}</h3>
                    {% for article in articles %}
                    <span>
                        <a href="{{ SITEURL }}/{{ article.url }}" title="">{{ article.title }}</a>
                    </span>
                    {% endfor %}
                </li>
                {% endfor %}
            </ul>
        <h2>{{ year }}</h2>
        </section>
    {% endfor %}
</section>
{% endblock %}
