{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{ SITEURL }}/theme/css/article.css" rel="stylesheet" type="text/css">
    <link href="{{ SITEURL }}/theme/css/page.css" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block seo %}
    <!-- OpenGraph -->
    <meta property="og:type" content="page"/>
    <meta property="og:title" content="{{ page.title|striptags }}"/>
    <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}"/>
    <meta property="og:site_name" content="{{ SITENAME }}"/>
    <meta property="og:description" content="{{ page.summary|striptags }}"/>
    {% if ARTICLE_IMAGE  %}
    <meta property="og:image" content="{{ page.image }}"/>
    {% endif %}

    <!-- Twitter -->
    <meta name="twitter:card" content="summary"/>
    {% if TWITTER %}
    <meta name="twitter:site" content="{{ TWITTER }}"/>
    <meta name="twitter:creator" content="{{ TWITTER }}"/>
    {% endif %}
    <meta name="twitter:domain" content="{{ SITEURL|replace("http://", "")}}"/>
    <meta name="twitter:title" content="{{ page.title|striptags }}"/>
    <meta name="twitter:description" content="{{ page.summary|striptags }}"/>
    <meta name="twitter:image:src" content="{{ page.image }}"/>

    <!-- Google+ -->
    <meta itemprop="name" content="{{ page.title|striptags }}"/>
    <meta itemprop="description" content="{{ page.summary|striptags }}"/>
    <meta itemprop="image" content="{{ page.imager }}"/>

    <!-- General purpose meta -->
    <meta name="description" content="{{ page.summary|striptags }}"/>
{% endblock %}

{% block content %}
<article class="container">
    <section id="article-title" class="container text-center">
        <h1 class="text-center">{{ page.title|striptags }}</h1>
        {% if page.icon %}
        <i class="fa {{ page.icon }} fa-5x img-circle"></i>
        {% endif %}
    </section>
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="container" style="min-width: 310px; height: 600px; padding-top: 25px; padding-bottom: 50px;"></div>
            </div>
        </div>
    </section>
</article>

{% block scripts %}
    {{ super() }}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(function () {
        $.getJSON( "http://hackncast.org/stats/eps/hnc", function(data){
          var count_total = [];
          var count_month = [];
          var count_week = [];
          var labels = [];
          for(var i=0;i<data.length;i++){
            count_total.push(data[i].total);
            count_month.push(data[i].month);
            count_week.push(data[i].week);
            labels.push(data[i].name.match('v[0-9]+\.[0-9]+')[0])
          };

          var chart = new Highcharts.Chart({
            chart: {
              type: 'column',
              renderTo: 'container'
            },
            title: {
              text: 'Todos os Episódios'
            },
            legend: {
              enabled: false
            },
            xAxis: {
              categories: labels,
            },
            yAxis: {
              min: 0,
              title: {
                text: 'Nº de Downloads'
              }
            },
            tooltip: {
              pointFormat: '<b>{point.y}</b> <br/>',
              shared: true
            },
            series: [
              {data: count_total},
            ]
          });
        })
      });
    </script>
{% endblock scripts %}

{% endblock content %}
