{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{ SITEURL }}/theme/css/index.css" rel="stylesheet" type="text/css">
{% endblock styles %}


{% block content %}

<section id="index-title" class="container text-center">
    <h1><a href="{{ SITEURL }}/releases">Releases</a></h1>
    <i class="fa fa-bullhorn fa-5x img-circle"></i>
</section>

<div id="content" class="container releases">
    {% if articles %}
    {% for article_pair in articles|batch(2) %}
        <div class="row">
        {% for article in article_pair %}
        <article class="col-md-5 article {% if loop.index%2 %}col-md-offset-1 article-odd{% else %}article-even{% endif %}">
            <header class="index-header">
                <span class="label label-primary hidden-xs hidden-sm article-label article-label-{% if loop.index%2 %}odd{% else %}even{% endif %}"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span>
                <div class="header-title">
                    {% set article_title = article.title.split('-') %}
                    <h2><small>{{ article_title[0]|striptags }}</small><br> <a href="{{ SITEURL }}/{{ article.url }}">{{ article_title[1]|striptags}}</a></h2>
                    <span class="header-meta header-meta-time clearfix"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span>
                    <span class="header-meta">em <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></span>

                </div>
            </header>
            <div class="entry-media">
                <img src="{{ article.image }}" class="img-responsive">
            </div>
            <div class="post-text">
                {{ article.summary }}
            </div>
            <div class="entry-more clearfix">
                <a id="more" class="btn btn-primary pull-right" href="{{ SITEURL }}/{{ article.url }}">Release Notes <i class="fa fa-long-arrow-right"></i></a>
            </div>
        </article>
        {% endfor %}
        </div>
    {% endfor %}
    {% endif %}
</div>

{% include 'includes/pagination.html' %}

{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="{{ SITEURL }}/theme/js/classie.js"></script>
    <script src="{{ SITEURL }}/theme/js/cbpAnimatedHeader.js"></script>
    <script src="{{ SITEURL }}/theme/js/freelancer.js"></script>
{% endblock scripts %}
