{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{ SITEURL }}/theme/css/tags.css" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block title %}Tags | {{ SITENAME }}{% endblock %}

{% block content %}
<section class="container text-center" id="tags-title">
        <h1 class="text-center">Tags</h1>
        <i class="fa fa-tags fa-5x img-circle"></i>
</section>

<section id="tags-index" class="container">
    <div class="col-md-6 col-md-offset-6" id="tag-search">
        <form class="form-search">
            <div class="input-group ">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control filterinput" placeholder="Encontre uma tag">
            </div>
        </form>
    </div>
    <ul class="list-inline" id="all-tags">
    {% for tag, articles in tags %}
        <li class="">
            <span class="label label-primary">
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
        </span>
        </li>
    {% endfor %}
    </ul>
</section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        (function ($) {
            // custom css expression for a case-insensitive contains()
            jQuery.expr[':'].Contains = function(a,i,m){
                return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
            };

            function listFilter() {

                $('.filterinput')
                .change( function () {
                    var filter = $(this).val();
                    if(filter) {
                        // this finds all links in a list that contain the input,
                        // and hide the ones not containing the input while showing the ones that do
                        $('#all-tags').find("a:not(:Contains(" + filter + "))").parent().parent().hide();
                        $('#all-tags').find("a:Contains(" + filter + ")").parent().parent().show();
                    } else {
                        $('#all-tags').find("li").show();
                    }
                    return false;
                })
                .keyup( function () {
                    // fire the above change event after every letter
                    $(this).change();
                });
            }

            //ondomready
            $(function () {
                listFilter($());
            });
        }(jQuery));
    </script>
{% endblock %}
