{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{ SITEURL }}/theme/css/tags.css" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block title %}Tags | {{ SITENAME }}{% endblock %}

{% block content %}
<section class="container text-center" id="tags-title">
        <h1 class="text-center">Tags</h1>
        <i class="fa fa-tags fa-5x img-circle"></i>
</section>

<section id="tags-index" class="container">
    <div class="col-md-6 col-md-offset-6" id="tag-search">
        <form class="form-search">
            <div class="input-group ">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control filterinput" placeholder="Encontre uma tag">
            </div>
        </form>
    </div>
    <ul class="list-inline" id="all-tags">
    {% for tag in tag_cloud|sort %}
        <li class="tag-{{ tag.1 }}">
            <a href="{{ SITEURL }}/{{ tag.0.url }}">
                {{ tag.0|lower }}
            </a>
        </li>
    {% endfor %}
    </ul>
</section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        (function ($) {
            // custom css expression for a case-insensitive contains()
            jQuery.expr[':'].Contains = function(a,i,m){
                return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
            };

            function listFilter() {
                $('.filterinput')
                    .change( function () {
                        var filter = $(this).val();
                        if(filter) {
                            $('#all-tags').find("a:not(:Contains(" + filter + "))").parent().hide();
                            $('#all-tags').find("a:Contains(" + filter + ")").parent().show();
                        } else {
                            $('#all-tags').find("li").show();
                        }
                        return false;
                    })
                    .keydown( function(event){
                        if(event.keyCode == 13){
                            event.preventDefault();
                            return false;
                        }
                    })
                    .keyup( function () {
                        $(this).change();
                    });
            }
            $(function () {
                listFilter($());
            });
        }(jQuery));
    </script>
{% endblock %}
